body {
	padding-top: 70px;
}

.btn {
	width: 100%;
	text-align: center;
}

#projects div, #talk div, #work div {
	text-align: center;
}

.center {
	text-align: center;
}

.clickable {
	opacity: 1;
}

.clickable:hover {
	opacity: 0.8;
}