.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color:#f79a80;
    color: #ffffff;
}

a {
    color: #ffffff;
}

h1 {
    font-size: 50pt;
}

hr {
    border-color: #ffffff;
    color: #ffffff;
}